$color-background: #272A31;
$color-background-alt: $color-background + 20;

$color-accent: #345391;

app {
	background: $color-background;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	padding: 7px 15px;

	h1 {
		color: #fff;
	}

	.color-box {
		$size: 100px;

		color: #fff;
		width: 100%;
		height: $size;
		line-height: $size;
		text-align: center;

		margin: 10px 0;
	}

	button {
		background: $color-accent;
		color: #fff;
		padding: 7px 15px;
		border: none;
		margin: 10px 0;
	}

	.highlighted-box {
		background: $color-background-alt;
		padding: 7px 15px;
		margin: 7px 0;
	}
}

